header{
    margin-top: 0;
    /* position: fixed; */
    top: 0;
    background-color: aliceblue;
    width: 100%;
}
.nav{
display: flex;
gap:20px;



   
}
.link{
    font-size: 40px;
}
.active{
    
    color: red;
    
}
hr{
    color: gray;
width: 100%;
}